<div [ngClass]="containerClasses">
  <!-- Tab Navigation -->
  <div [ngClass]="tabListClasses" role="tablist" aria-orientation="horizontal">
    @for (tab of tabs; track tab.id) {
      <button
        type="button"
        role="tab"
        [id]="'tab-' + tab.id"
        [attr.aria-selected]="activeTab === tab.id"
        [attr.aria-controls]="'panel-' + tab.id"
        [attr.tabindex]="activeTab === tab.id ? 0 : -1"
        [disabled]="tab.disabled"
        [ngClass]="[tabItemClasses, getTabStateClasses(tab.id), tabSizeClass]"
        (click)="setActiveTab(tab.id)"
      >
        @if (withIcons && tab.icon) {
          <span class="mr-2" [innerHTML]="tab.icon"></span>
        }
        {{ tab.label }}
      </button>
    }
  </div>
  
  <!-- Tab Content -->
  <div class="flex-1 mt-3" [class.ml-6]="vertical">
    <ng-content></ng-content>
  </div>
</div>
